<template name="adminPhotoGallery">

	<!-- title -->
	<div class="page-header">
		<div class="page-header-content">
			<div class="page-title">
				<h4><i class="icon-arrow-left52 position-left"></i> <span class="text-semibold">Admin</span> - Mobile CMS: Photo gallery</h4>
			</div>
			<div class="heading-elements">
				<div class="heading-btn-group">
					<a href="#" data-toggle="modal" data-target="#modal-create" class="add-album btn bg-blue btn-labeled heading-btn"><b><i class="icon-task"></i></b> Add album</a>
				</div>
			</div>
		</div>

		<div class="breadcrumb-line">
			<ul class="breadcrumb">
				<li><a href="/__admin"><i class="icon-home2 position-left"></i> Admin</a></li>
				<li><a href="/__admin/photo-gallery">Mobile CMS</a></li>
				<li class="active">Photo gallery</li>
			</ul>
			<a class="breadcrumb-elements-toggle"><i class="icon-menu-open"></i></a>
		</div>
	</div>
	<!-- /title -->

	<!-- content -->
	<div class="content">
		<!-- Media library -->
		<div class="panel panel-flat">
			<div class="panel-body">
				{{> tabular id="albumTable" table=TabularTables.Albums class="table striped"}}
			</div>
		</div>
		<!-- /media library -->
	</div>
	<!-- /content -->


	<!-- modal template -->
    <div id="modal-create" class="modal fade">
		<div class="modal-dialog fullscreen">
			<div class="modal-content fullscreen">
				<form id="form-photo">
					<div class="modal-header bg-primary">
						<button type="button" class="close" data-dismiss="modal">&times;</button>
						<h6 class="modal-title">Add new album</h6>
					</div>

					<div class="modal-body">
						<h6 class="text-semibold">Channel</h6>
						<select id="channel" class="form-control">
							<option value="-1" selected="selected">Select a channel</option>
							{{#each channels}}
							<option value="{{_id}}">{{title}}</option>
							{{/each}}
						</select>

						<h6 class="text-semibold">Title</h6>
						<input id="title" type="text" value="" class="form-control" placeholder="Album title">

						<h6 class="text-semibold">Photos</h6>
						<input id="upload-photo" name="upload-photo[]" type="file" class="file-input" data-show-upload="false" data-allowed-file-extensions='["png", "jpg", "jpeg", "gif", "tiff"]' multiple>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-close btn-link" data-dismiss="modal">Close</button>
                        <!-- <button type="submit" class="btn btn-primary" id="btnUpload" disabled="disabled">Upload</button> -->
                        <button type="submit" class="btn btn-primary" id="btnUpload">Create</button>

                        <input type="hidden" id="mode" value="create">
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- /modal template -->

</template>
