<template name="adminPolls">

	<!-- title -->
	<div class="page-header">
		<div class="page-header-content">
			<div class="page-title">
				<h4><i class="icon-arrow-left52 position-left"></i> <span class="text-semibold">Admin</span> - Mobile CMS: Polls</h4>
			</div>
			<div class="heading-elements">
				<div class="heading-btn-group">
					<a href="#" data-toggle="modal" data-target="#modal-create" class="btn bg-blue btn-labeled heading-btn"><b><i class="icon-task"></i></b> Add poll</a>
				</div>
			</div>
		</div>

		<div class="breadcrumb-line">
			<ul class="breadcrumb">
				<li><a href="/__admin"><i class="icon-home2 position-left"></i> Admin</a></li>
				<li><a href="/__admin/polls">Polls</a></li>
				<li class="active">Polls</li>
			</ul>
			<a class="breadcrumb-elements-toggle"><i class="icon-menu-open"></i></a>
		</div>
	</div>
	<!-- /title -->

	<!-- content -->
	<div class="content">
		<!-- Media library -->
		<div class="panel panel-flat">
			<div class="panel-body">
				{{> tabular id="pollTable" table=TabularTables.Polls class="table striped"}}
			</div>
		</div>
		<!-- /media library -->
	</div>
	<!-- /content -->


	<!-- modal template -->
    <div id="modal-create" class="modal fade">
		<div class="modal-dialog">
			<div class="modal-content">
				<form id="form-submit">
					<div class="modal-header bg-primary">
						<button type="button" class="close" data-dismiss="modal">&times;</button>
						<h6 class="modal-title">Add new poll</h6>
					</div>

					<div class="modal-body">
						<h6 class="text-semibold">Channel</h6>
						<select id="channel" class="form-control">
							<option value="-1">Select a channel</option>
							{{#each channels}}
							<option value="{{_id}}">{{title}}</option>
							{{/each}}
						</select>

						<h6 class="text-semibold">Ending</h6>
						<input id="ending" class="form-control" type="date" name="date">

						<h6 class="text-semibold">Question</h6>
						<textarea id="question" row="3" class="form-control" placeholder="Enter a question"></textarea>

						<h6 class="text-semibold">Options</h6>
						<input id="option_1" type="text" value="" class="form-control mt-5" placeholder="Option #1">
						<input id="option_2" type="text" value="" class="form-control mt-5" placeholder="Option #2">
						<input id="option_3" type="text" value="" class="form-control mt-5" placeholder="Option #3">
						<input id="option_4" type="text" value="" class="form-control mt-5" placeholder="Option #4">
						<input id="option_5" type="text" value="" class="form-control mt-5" placeholder="Option #5">
						<input id="option_6" type="text" value="" class="form-control mt-5" placeholder="Option #6">
						<input id="option_7" type="text" value="" class="form-control mt-5" placeholder="Option #7">
						<input id="option_8" type="text" value="" class="form-control mt-5" placeholder="Option #8">
						<input id="option_9" type="text" value="" class="form-control mt-5" placeholder="Option #9">
						<input id="option_10" type="text" value="" class="form-control mt-5" placeholder="Option #10">

                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-close btn-link" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- /modal template -->

</template>
