<template name="adminUserList">

	<!-- title -->
	<div class="page-header">
		<div class="page-header-content">
			<div class="page-title">
				<h4><i class="icon-arrow-left52 position-left"></i> <span class="text-semibold">Admin</span> - Users list</h4>
			</div>
			<!-- <div class="heading-elements">
			<div class="heading-btn-group">
			<a href="#" class="btn bg-blue btn-labeled heading-btn" id="migrate-photo"><b><i class="icon-task"></i></b> Migrate photos</a>
		</div>
	</div> -->
	<a class="heading-elements-toggle"><i class="icon-menu"></i></a>
</div>

<div class="breadcrumb-line">
	<ul class="breadcrumb">
		<li><a href="/__admin"><i class="icon-home2 position-left"></i> Admin</a></li>
		<li><a href="/__admin/users">Users</a></li>
		<li class="active">Users list</li>
	</ul>
	<a class="breadcrumb-elements-toggle"><i class="icon-menu-open"></i></a>
</div>
</div>
<!-- /title -->


<!-- content -->
<div class="content">
	<div class="mb-15">
		<form id="search-form">
			<label>Search:</label>
			<div class="input-group">
				<input id="search-keyword" class="form-control" type="text" placeholder="search">
				<span class="input-group-btn">
					<button class="btn btn-default" type="button"><i class="icon-search4"></i> Search</button>
				</span>
			</div>
		</form>
	</div>

	<div class="panel panel-flat">
		<div class="panel-body">
			<ul class="media-list media-list-bordered">
				{{#each user in users}}
				<li class="media">
					<div class="media-left">
						<!-- <a href="#"><img src="{{profile_photo user._id}}" class="img-circle" alt=""></a> -->
						<a href="/profile/user/{{user._id}}"><img src="{{profile_s3 user._id}}" class="img-circle" alt=""></a>
					</div>

					<div class="media-body">
						<ul class="icons-list pull-right">
							{{#each group in groups}}
							{{#if hasRole group.slug user.roles}}
							{{#if isEqual group.slug 'admin'}}
							<li><span class="label label-warning">{{group.name}}</span></li>
							{{else}}
							<li><span class="label label-success">{{group.name}}</span></li>
							{{/if}}
							{{/if}}
							{{/each}}
							<!-- <a href="#"><i class="icon-trash text-danger"></i></a> -->
							<li class="dropdown">
								<a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
									<i class="icon-three-bars"></i>
									<span class="caret"></span>
								</a>

								{{#if isNotPlayroomAdmin user.username}}
								<ul class="dropdown-menu dropdown-menu-right">
									{{#each group in groups}}
									{{#if hasRole group.slug user.roles}}
									<li><a href="#" class="revoke" data-role="{{group.slug}}" data-userid="{{user._id}}"><i class="icon-user-tie pull-right text-warning"></i> <span class="text-warning">Revoke {{group.name}} role</span></a></li>
									{{else}}
									<li><a href="#" class="promote" data-role="{{group.slug}}" data-userid="{{user._id}}"><i class="icon-user-tie pull-right"></i> Set as {{group.name}}</a></li>
									{{/if}}
									{{/each}}

									<li class="divider"></li>
									<li><a href="#" class="migrate-photo" data-userid="{{user._id}}"><i class="icon-warning pull-right"></i> Migrate photo</a></li>
									<li><a href="#" class="delete-user" data-userid="{{user._id}}"><i class="icon-trash pull-right"></i> Delete user</a></li>
								</ul>
								{{/if}}
							</li>
						</ul>
						<h6 class="media-heading"><strong>{{user.profile.nickName}}</strong> <i class="icon-arrow-small-right text-muted"></i> {{user.profile.name}}</h6>
						{{user.username}} <i class="icon-arrow-small-right text-muted"></i> {{user.profile.email}}
					</div>
				</li>
				{{/each}}
			</ul>

		</div>


	</div>
	<div class="btn-group pagination-group">
		{{#each page in pagings}}
		<a href="#{{page.number}}" class="btn btn-default paging-btn page-{{page.number}}" data-skip="{{page.skip}}">{{page.number}}</a>
		{{/each}}
	</div>
</div>
<!-- /content -->

</template>
